/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* --------- Begin your CSS Below here --------- */
.blue-btn{
	background-color: teal;
	color: white;
	padding: 7px;
	border: none;
	outline: none;
}
.orange-btn{
	background-color: orange;
	color: white;
	padding: 7px;
	border: none;
	outline: none;
}
.App h1{
	font-size: 34px;
}
.App h2{
	font-size: 24px;
}
.App h3{
	font-size: 20px;
}
.App h4{
	font-size: 20px;
}

/* Header  */
.Header{
	background-color: rgb(233,122,61);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	width: 100vw;
	color: white;
	padding: 20px;
	padding-left: 50px;
	font-family: Arial, Helvetica, sans-serif;
}
.devmountainEatery{
	font-size: 16px !important;
}
.Header-button{
	background-color: rgb(233,122,61);
	border: none;
	outline: none;
	color: white;
	padding: 10px;
	font-size: 16px;
}
.Header-button:hover{
	background-color: rgb(252,167,117);
	cursor: pointer;
}

/* HomeScreen  */
.searchBar-container{
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}
.searchBar{
	display: flex;
	align-items: center;
	height: auto;
	padding: 10px;
	margin-top: 10px;
	border-radius: 15px;
	border: none;
}
.searchBar > input{
	width: 250px;
	background-color: rgb(233,122,61);
	height: 30px;
	border-radius: 15px;
	padding-left: 15px;
	border: none;
	outline: none;
}

/* AdBanner */
.AdBanner{
	height: 30vh;
	width: 100%;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif
}
.AdBanner-text{
	width: 60%;
}
.AdBanner-text > .NewRecipe{
	padding-bottom: 15px;
}
.AdBanner-text > .recipe-title{
	color: rgb(233,122,61);
	font-size: 40px;
	font-weight: bold;
	padding-bottom: 20px;
}
.AdBanner-text > .recipe-description{
	padding-bottom: 10px;
}

/* RecipeCard  */
.RecipeCard-container{
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif
}
.RecipeCard-section{
	padding: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 50%;
}
.RecipeCard{
	width: 250px;
	height: 350px;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	margin-bottom: 50px;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3)
}
.RecipeCard-image{
	width: 250px;
	height: 250px;
}

/* DetailScreen */
.DetailScreen-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 0px 20px 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.DetailScreen-image-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 300px;
}
.DetailScreen-recipeName{
	font-size: 40px !important;
	color: rgb(233,122,61);
	font-weight: bold;
}
.DetailScreen-image{
	width: 100vw;
	height: 300px;
	object-fit: cover;
	background-position: center;
	z-index: -1;
	position: absolute;
	top: 60px;
	left: 0;
	filter: brightness(30%);
}
.DetailScreen-section{
	display: flex;
	width: 65%;
	justify-content: space-between;
	padding-top: 20px;
}
.recipeDisplay-container{
	padding-bottom: 20px;
}
.detailDisplay-recipeDisplay-container{
	height: auto;
}
.detail-header{
	text-align: center;
}
.detailDisplay-container{
	/* padding: 5px; */
}
.detailDisplay-recipeDisplay-section{
	width: 250px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 3px 3px 4px 1px #B5B5B5;
}
.instructions-container{
	width: 300px;
	padding: 10px;
	box-shadow: 3px 3px 4px 1px #B5B5B5;
}

/* New Recipe Screen (Form)  */
.NewRecipeScreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.NewRecipeScreen button, input{
	height: 30px;
}
.NewRecipeScreen-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
.NewRecipeScreen-nameAndImage{
	display: flex;
	justify-content: space-between;
	height: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.NewRecipeScreen-nameAndImage input{
	width: 40%;
}
.CookBakeDrink{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.CookBakeDrink div{
	display: flex;
	align-items: center;
}
.CookBakeDrink button{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 10px;
	border: 1px solid gray;
}
.PrepCookServe{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}
.PrepCookServe input{
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.IngredientAndQuantity{
	display: flex;
	flex-direction: column;

}
.IngredientAndQuantity input{
	width: 40%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.AddIngredient{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.AddIngredient button{
	width: 110px;
}
.Instructions textarea{
	width: 100%;
	height: 90px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.SubmitRecipe{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.SubmitRecipe button{
	width: 110px;
}
/* Footer  */
.Footer{
	height: 150px;
	background-color: gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	width: 100vw;
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	bottom: 0px;
}
.Footer > .socials{
	color: white;
}
.Footer .icons{
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}
.Footer .icon-container{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Footer .icons a{
	background-color: teal;
	padding: 6px;
	border-radius: 50%;
}
